<h1>My Projects</h1>
<ul>
  <% if @projects.present? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Project Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Edit</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.title, enterprise_projects_path(current_user, project) %></td>
            <td><%= project.start_date.strftime('%B %d, %Y') %></td>
            <td><%= project.end_date.strftime('%B %d, %Y') %></td>
            <%# <td><%= link_to 'Edit', edit_enterprise_project_path(current_user, project) %>
            <td><%= project.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <li>No projects available.</li>
  <% end %>


</ul>
