<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>Dashboard</h2>
    <ul>
      <li data-controller="dropdown">
        <button class="dropdown-btn" data-action="click->dropdown#toggle">
          Projects
        </button>
          <ul class="dropdown-content hidden" data-dropdown-target="menu">
            <li><%= link_to "Ongoing Projects", freelancer_shared_projects_path(status: 1), data: { turbo_frame: "projects_frame" } %></li>
            <li><%= link_to "Pending Projects", freelancer_shared_projects_path(status: 0), data: { turbo_frame: "projects_frame" } %></li>
            <li><%= link_to "Completed Projects", freelancer_shared_projects_path(status: 4), data: { turbo_frame: "projects_frame" } %></li>
          </ul>
      </li>

      <li>Messages</li>
      <li>My Profile
        <ul>
          <li><%= link_to "Edit My Profile" %></li>
        </ul>
      </li>
    </ul>
  </aside>



  <!-- Main Content -->
  <main class="dashboard-content">
      <div id="projects-container">
        <turbo-frame id="projects_frame">
        <h2> Projects</h2>
          <%= render partial: "projects_list", locals: { projects: @ongoing_projects } %>
        </turbo-frame>
      </div>
  </main>
</div>
