<div class="dashboard-main" style="flex-grow: 1;" data-dashboard-target="mainContent">
    <!-- The content that gets updated by Stimulus -->
    <h3>My Projects</h3>
    <turbo-frame id="projects_frame">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% if projects.present? %>
            <% @projects.each do |project| %>
              <tr>
                <td><%= link_to project.title, enterprise_project_path(project) %></td>
                <td><%= project.start_date.strftime('%B %d, %Y') %></td>
                <td><%= project.end_date.strftime('%B %d, %Y') %></td>
                <td><%= link_to 'Edit', edit_enterprise_project_path(project) %></td>
                <td>
                  <%
                    case project.status
                    when 0
                      status_label = 'Open'
                    when 1
                      status_label = 'Pending'
                    when 2
                      status_label = 'Ongoing'
                    when 3
                      status_label = 'Paid'
                    when 4
                      status_label = 'Completed'
                    when 5
                      status_label = 'Archived'
                    else
                      status_label = 'Unknown'
                    end
                  %>
                  <%= status_label %>
                </td>
              </tr>
            <% end %>
          <% else %>
          <p>No projects found.</p>
          <% end %>
        </tbody>
      </table>
    </turbo-frame>
  </div>
