<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top px-5">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <span class="text-brand">MoFreelance</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>

          <% if current_user.enterprise? %>
            <!-- Liens spécifiques aux entreprises -->
            <li class="nav-item">
              <%= link_to "Dashboard", enterprise_dashboard_path, class: "nav-link" %>
            </li>
          <% elsif current_user.freelancer? %>
            <!-- Liens spécifiques aux freelances -->
            <li class="nav-item">
              <%= link_to "Dashboard", freelancer_dashboard_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Create Profile", new_freelancer_profile_path, class: "nav-link" %>
            </li>
          <% end %>
        <% else %>
          <!-- Utilisateur non connecté -->
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <!-- Menu déroulant avec avatar -->
        <div class="nav-item dropdown ms-3">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.present? %>
            <% initials = "" %>
            <% if current_user.respond_to?(:first_name) && current_user.respond_to?(:last_name) %>
              <% initials = "#{current_user.first_name.first if current_user.first_name.present?}#{current_user.last_name.first if current_user.last_name.present?}" %>
            <% elsif current_user.respond_to?(:email) %>
              <% initials = current_user.email.first(2) %>
            <% else %>
              <% initials = "U" %>
            <% end %>
            <%= image_tag "https://ui-avatars.com/api/?name=#{initials}&background=0E6378&color=ffffff&bold=true", class: "avatar", alt: "dropdown menu" %>
          <% else %>
            <%= image_tag "https://ui-avatars.com/api/?name=U&background=0E6378&color=ffffff&bold=true", class: "avatar", alt: "dropdown menu" %>
          <% end %>
        </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Account Settings", edit_user_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
