<h1>Enterprise::Discussions#show</h1>
<p>Find me in app/views/enterprise/discussions/show.html.erb</p>
<h2>Project Discussion</h2>


<%= form_with model: [ :enterprise, @discussion, Message.new ], url: enterprise_discussion_messages_path(@discussion), data: { turbo_stream: true } do |f| %>
  <div>
    <%= f.text_area :content, placeholder: "Type a message...", rows: 3 %>
  </div>
  <div>
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>


<div class="container chat">
  <h1>Your chatbox for <%= @discussion.project.title %></h1>

  <div id="messages" class="messages">
    <% @discussion.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.sender.first_name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>
