<div class="nested-fields education-entry">
  <div class="mb-3">
    <%= f.input :school, label: "School / Education" %>
  </div>
  <div class="mb-3">
    <%= f.input :diploma, label: "Diploma" %>
  </div>
  <div class="mb-3">
    <%= f.input :start_date, as: :date, label: "Start date" %>
  </div>
  <div class="mb-3">
    <%= f.input :end_date, as: :date, label: "End date" %>
  </div>
  <div class="mb-3">
    <%= f.input :localisation, label: "Location" %>
  </div>
  <div class="mb-3">
    <button type="button" class="btn btn-danger remove-education" data-action="click->education#remove">Remove Education</button>
  </div>
</div>
