<div class="nested-fields experience-entry">
  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy, class: "destroy-field" %>

  <div class="mb-3">
    <%= f.input :job_title, label: "Job Title", input_html: { required: true } %>
  </div>
  <div class="mb-3">
    <%= f.input :company, label: "Company", input_html: { required: true } %>
  </div>
  <div class="mb-3">
    <%= f.input :start_date, as: :date, label: "Start date", input_html: { required: true } %>
  </div>
  <div class="mb-3">
    <%= f.input :end_date, as: :date, label: "End date", input_html: { required: true } %>
  </div>
  <div class="mb-3">
    <%= f.input :description, label: "Description", input_html: { required: true } %>
  </div>
  <div class="mb-3">
    <%= f.input :localisation, label: "Location" %>
  </div>
  <div class="mb-3 text-end">
    <button type="button" class="btn btn-danger remove-experience" data-action="click->experience#remove">Remove Experience</button>
  </div>
</div>
