<!DOCTYPE html>
<html>
  <head>
    <title>Mofreelance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %> <!-- Navbar stays outside the content update area -->

    <!-- Flash messages -->
    <%= render "shared/flashes" %>

    <!-- Main content area, which will be updated dynamically -->
    <div id="main-content">
      <%= yield %> <!-- This is the main content that will be updated -->
    </div>
  </body>
</html>
